<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Room</title>
</head>

<body>

<table>
    <tr>
        <td colspan="2">
            <input type="text" id="username" placeholder="Username"/>
            <button type="button" id="connect-button">Connect</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
			<input type="radio" id="online" name="status" value="true" checked="checked">
			<label for="online">Online</label><br>
			<input type="radio" id="doNotDist" name="status" value="false">
			<label for="doNotDist">Do Not Disturb</label><br>
        </td>
    </tr>
    <tr>
        <td>
            <textarea readonly="true" rows="10" cols="80" id="log"></textarea>
        </td>
        <td>
           <div style="width: 400px">
               <div style="float: left; width: 100px">User</div><div style="float: left; width: 100px">Status</div>
           </div>
            <div id="users" style="clear: both;width: 400px">

            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" size="51" id="msg" placeholder="Message"/>
            <button type="button" id="send-button">Send</button>
        </td>
    </tr>
</table>
</body>

<script src="websocket.js"></script>
</html>
